:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.light,
:root:has(#theme-toggle:checked) {
  color-scheme: light;
}

/* make width calculations include padding so fixed header with padding doesn't overflow */
*, *::before, *::after {
  box-sizing: border-box;
}

/* avoid any horizontal scrollbar caused by 100% width elements */
body {
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--tag-text);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  max-width: 100%;
  height: auto;
}

img[width][height] {
  aspect-ratio: attr(width) / attr(height);
}

img:not([height]) {
  min-height: 20px;
}

.theme-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}